.container {
  margin: auto;
  width: 1000px;
}

.side {
  float: left;
  width: 200px;
}

.side img {
  padding: 20px;
  padding-left: 20px;
  padding-top: 25px;
}

.main {
  width: 430px;
  float: right;
  padding: 38px;
}

.main .login {
  width: 350px;
  height: 400px;
  background: rgba(255, 255, 255, 0.5);
  border: 0.1rem solid rgb(202, 202, 202);
  margin-bottom: 10px;
}

.main .login img {
  padding: 38px 47px;
  margin-left: 30px;
}

.main .login form {
  text-align: center;
}

.main .login input {
  padding: 10px;
  margin-bottom: 5px;
  background: rgba(241, 236, 236, 0.3);
  border-radius: 5%;
  border: 0.1rem solid #999;
  width: 243px;
  font-size: 12px;
}

.main .login .btn {
  text-align: center;
  padding: 7px;
  border: 0.1rem solid rgb(4, 122, 233);
  background-color: rgb(4, 122, 233);
  width: 265px;
  border-radius: 8px;
  margin-top: 10px;
}

.main .login .btn a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
}

.main .login .btn a:hover {
  position: relative;
  text-align: center;
  padding: 7px 104px;
  border-radius: 8px;
  border: 0.1rem solid blue;
  background-color: blue;
  margin-top: 10px;
  color: white;
}

.main .login .or p {
  text-align: center;
  margin-top: -15px;
  font-size: 14px;
  color: #999;
}

.main .login .facebook {
  text-align: center;
  padding-top: 25px;
}

.main .login .facebook a {
  text-decoration: none;
  color: #0b2384;
  font-size: 14px;
  font-family: arial;
}

.main .login .facebook i {
  margin-right: 5px;
}

.main .login .password {
  padding-top: 17px;
  text-align: center;
}

.main .login .password a {
  text-align: center;
  font-size: 12px;
  font-family: Arial;
  color: #0b2384;
  text-decoration: none;
}

.main .sign {
  width: 350px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  border: 0.1rem solid rgb(202, 202, 202);
  text-align: center;
  padding-top: 10px;
}

.main .sign p {
  font-size: 13.5px;
  font-family: Arial;
}

.main .sign a {
  text-decoration: none;
  color: rgb(9, 84, 196);
}

.main .download {
  width: 350px;
  height: 35px;
  text-align: center;
  padding-top: 5px;
}

.main .download p {
  font-size: 15px;
}

.main .download .app-store {
  width: 130px;
  float: left;
  margin-left: 40px;
  cursor: pointer;
}

.main .download .playstore {
  width: 130px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}

.footer {
  width: 1000px;
  text-align: center;
}

.footer .list ul,
li {
  padding: 10px 8px;
  display: inline-block;
}

.footer .list a {
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  color: #555;
}

.footer .list a:hover {
  text-decoration: underline;
}

.footer .copyright {
  width: 1000px;
  margin-top: -15px;
}

.footer .dropdown {
  width: 500px;
  float: left;
  margin-left: 185px;
}

.footer .dropdown select.option {
  width: 60px;
  border: none;
  font-size: 12px;
  color: #555;
  outline: none;
  cursor: pointer;
}

.footer .copyright .text {
  width: 500px;
  float: right;
  margin-right: 195px;
  margin-top: -26px;
}

.footer .copyright .text p {
  font-size: 12px;
  color: #555;
}

.ct:before,
.ct:after {
  content: " ";
  display: table;
  clear: both;
}
